<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412949760191-gbl7bi50htf4vcorcrvk212kg6g3gqj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412949760191-gbl7bi50htf4vcorcrvk212kg6g3gqj5</string>
	<key>API_KEY</key>
	<string>AIzaSyA6AOgSMDegrfvE4wMvWOEArgh5UOU62YI</string>
	<key>GCM_SENDER_ID</key>
	<string>412949760191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagemeApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-db494</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-db494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412949760191:ios:534d3da4419db7e1c69e0a</string>
</dict>
</plist>